/* ----- Fonts ----- */
@font-face {
	font-family: 'Work Sans';
	src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf'),
		url('./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf'),
		url('./assets/fonts/static/WorkSans-Bold.ttf'),
		url('./assets/fonts/static/WorkSans-Regular.ttf'),
		url('./assets/fonts/static/WorkSans-SemiBold.ttf');
}

/* ----- Variables ----- */
:root {
	/* colors */
	--clr-white: hsl(0, 0%, 100%);
	--clr-light-pink: hsl(275, 100%, 97%);
	--clr-grayish-purple: hsl(292, 16%, 49%);
	--clr-dark-purple: hsl(292, 42%, 14%);
}

/* ----- Reset ----- */

/* Remove Default Spacing */
* {
	margin: 0;
	padding: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Set core body defaults */
body {
	font-family: 'Work Sans', sans-serif;
}

body,
main {
	min-height: 100vh;
}

/* Make images easier to work with */
img,
picture {
	display: block;
}

/* Details & Summary Reset */
details summary {
	cursor: pointer;
}

details summary > * {
	display: inline;
}

/* Application Styles */
main {
	padding: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('./assets/images/background-pattern-mobile.svg');
	background-repeat: no-repeat;
	background-color: var(--clr-light-pink);
}

.card {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 1.5rem;
	background-color: var(--clr-white);
	border-radius: 0.5rem;
}

.card-header {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.card-header img {
	height: 24px;
	width: 24px;
}

.card-header h1 {
	font-size: 2rem;
	font-weight: 700;
	color: var(--clr-dark-purple);
}
